/* Main.html 的CSS样式设置 */

/*
 * HTML元素的样式
*/
html, body {
	margin: 0;			/* Remove body margin/padding */
	padding: 0;
	overflow: hidden;	/* Remove scroll bars on browser window */	
	font-size: 81%;
}

table{
	font-size: 13px;
}


/*
 * header页，系统名称的样式
*/
label.header-systemname {
	font-size:40px;
	font-family:"黑体";
}

/*
 * 收件箱发件箱，消息标题的样式
*/
label.messagetitle{
	font-size:18px;
	font-weight: bold;
}

/*
 * tree和grid之间的分隔线
*/
td.linebetween{
	border-left:1px dashed #CCCCCC;
}


/*
 * 布局——左侧和右侧Panel的样式
*/
#LeftPane {
	overflow: auto;
}

#RightPane {
	padding: 2px;
	overflow: auto;
}


/* 
 * Custom styled notice CSS - jquery.pnotify.min.js的提示的样式
*/
/* This one is done through code, to show how it is done. Look down
			   at the stack_bottomright variable in the JavaScript below. */
.ui-pnotify.stack-bottomright {
	/* These are just CSS default values to reset the pnotify CSS. */
	right: auto;
	top: auto;
}


/*
 * tabs的样式
*/
.ui-tabs-nav li {position: relative;}
.ui-tabs-selected a span {padding-right: 10px;}
.ui-tabs-close {display: none;position: absolute;top: 3px;right: 0px;z-index: 800;width: 16px;height: 14px;font-size: 10px; font-style: normal;cursor: pointer;}
.ui-tabs-selected .ui-tabs-close {display: block;}


/*
 * 布局左侧Panel和jqGrid下边框的样式
*/
.ui-layout-west .ui-jqgrid tr.jqgrow td { border-bottom: 0px none;}


/*
 * ui-datepicker的样式
*/
.ui-datepicker select.ui-datepicker-month-year {width: 60%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 40%;}

/*
 * ui-timepicker的样式
 * TODO 删掉
*/
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }